[submodule "examples/m-labs-lm32/lm32"]
	path = examples/m-labs-lm32/lm32
	url = https://github.com/m-labs/lm32.git
[submodule "examples/serv/serv"]
	path = examples/serv/serv
	url = https://github.com/olofk/serv.git
[submodule "examples/ibex/ibex"]
	path = examples/ibex/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "examples/wr-cores/wr-cores"]
	path = examples/wr-cores/wr-cores
	url = https://ohwr.org/project/wr-cores.git
[submodule "examples/wr-cores/wrpc-sw"]
	path = examples/wr-cores/wrpc-sw
	url = https://ohwr.org/project/wrpc-sw.git
