[submodule "examples/m-labs-lm32/lm32"]
	path = examples/m-labs-lm32/lm32
	url = https://github.com/m-labs/lm32.git
[submodule "examples/serv/serv"]
	path = examples/serv/serv
	url = https://github.com/olofk/serv.git
[submodule "examples/ibex/ibex"]
	path = examples/ibex/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "examples/hazard3/Hazard3"]
	path = examples/hazard3/Hazard3
	url = https://github.com/Wren6991/Hazard3.git
[submodule "examples/toy_SoC/picorv32"]
	path = examples/toy_SoC/picorv32
	url = https://github.com/YosysHQ/picorv32
[submodule "examples/toy_SoC/urv-core"]
	path = examples/toy_SoC/urv-core
	url = https://gitlab.com/ohwr/project/urv-core.git
[submodule "examples/toy_SoC/mdu"]
	path = examples/toy_SoC/mdu
	url = https://github.com/zeeshanrafique23/mdu.git
